Django
pip-tools
mysqlclient
django-crispy-forms

django-rest-swagger
djangorestframework
python-memcached
python3-saml
social-auth-app-django
social-auth-core[saml]
PyYAML

# django-filter
# Jinja2
# Markdown
# MarkupSafe
# MySQL-python

# PyYAML
# certifi
# chardet
# coreapi
# coreschema
# django-braces

# gdata
# google-api-python-client
# httplib2
# idna
# itypes
# oauth2client
# openapi-codec
# pyasn1
# pyasn1-modules
# python-ldap

# pytz
# requests
# rsa
# selenium
# simplejson
# six
# uritemplate
# urllib3
