/* Sticky footer styles
------------------------------ */
html {
    position: relative;
    min-height: 100%;
}

#page-footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #FFF5E6;
}

/* Custom page CSS
----------------------- */
#wrapper {
    padding: 60px 0px 60px 0px;
}


.asteriskField {
    color: red;
}

.select2-result-label {
    font-size: 12px;
    color: #555;
}


/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.ajax_loading {
    display:    none;
    position:   fixed;
    z-index:    100000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../images/ajax-loader.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .ajax_loading {
    display: block;
}

.active_tab {
    background-color: #e6e6e6;
}